{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>❌ Paiement annulé</h1>
        <p>Vous pouvez réessayer quand vous voulez.</p>
    </div>
{% endblock %}